.gallery{
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,200px);
/*     grid-auto-rows: 200px; */
    gap: 20px;
    justify-content: center;
    align-content: center;
    border: 3px solid blue;
    margin: 100px auto;
    background-color: rgb(203, 211, 204);
    

}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.image_1{
    grid-column: span 3;
}

 .image_2{
    grid-column: span 3;
} 

.image_3{
    grid-column: 1/3;
}

.image_4{
    grid-row: span 2;
}
.image_5{
    grid-row: 4/6;
}
.image_9{
    grid-column: 1/3;
}

.image:hover,.image:focus{
    opacity: 0.5;
    border:5px dashed purple;
    box-shadow: 5px 5px 5px rgb(22, 21, 23);
    border-radius: 5px;
}

.image :active{
    opacity: 1;
    border: 2px solid black;
}